<%- include('../partials/header') %>

<form id="add-user-informatiom" action="/reservation/<%=reservation._id%>?_method=PUT" method="post">
  <label>Name:</label>
  <input type="text" name="name">

  <label>Arrival:</label>
  <input name="arrival" type="datetime-local">
  <label>Departure:</label>
  <input name="departure" type="datetime-local">
  <button type="submit">submit</button>
</form>

  <%- include('../partials/footer') %>