<%- include('../partials/header') %>

<form id="add-user-informatiom" action="/<%=hotel%>/reservations" method="post">
  <label class="label">Name:</label>
  <input id="textn" type="text" name="name">

  <label class="label">Arrival:</label>
  <input name="arrival" type="datetime-local">
  <label class="label">Departure:</label>
  <input name="departure" type="datetime-local">
  <button class="sub" type="submit">submit</button>
</form>


  <%- include('../partials/footer') %>