<%- include('../partials/header') %>
    <ul class="hoteles">

        <ul class="hotel">

            <p class="content" id="ariesP">
            <header class="titulo" id="ariesT">Aries</header>Indulge in luxury at its finest at Aries, a 5-star hotel
            located in the heart of Orlando, Florida, just moments away from the enchanting parks. Immerse yourself in
            comfort and elegance with our world-class amenities, including exquisite dining options, lavish spa
            treatments, and stunning accommodations. Whether you're here for business or leisure, Aries promises an
            unforgettable stay in the magical city of Orlando. Book your stay now and elevate your Orlando experience
            with us!</p>
        </ul>

        <ul class="hotel">

            <p class="content" id="taurusP">
            <header class="titulo" id="taurusT">Taurus</header>Immerse yourself in luxury with our exquisite amenities,
            including gourmet dining, rejuvenating spa treatments, and elegant accommodations. Experience the thrill of
            horse riding with our exclusive equestrian experiences, perfect for adventurers of all levels. Whether you
            seek relaxation or adventure, Taurus promises a memorable stay in the picturesque landscapes of Dallas. Book
            your getaway now and discover the beauty of rural Texas at Taurus!</p>
        </ul>

        <ul class="hotel">

            <p class="content" id="scorpioP">
            <header class="titulo" id="scorpioT">Scorpio</header>Experience the excitement of Las Vegas, Nevada, at
            Scorpio, a luxury hotel located near all the casinos in downtown. Indulge in gourmet dining, spa treatments,
            and elegant accommodations. Test your luck with our convenient access to nearby casinos. Whether you're here
            for relaxation or adventure, Scorpio promises a memorable stay in the heart of Las Vegas. Book now for an
            unforgettable Vegas experience!</p>
        </ul>

        <ul class="hotel">

            <p class="content" id="libraP">
            <header class="titulo" id="libraT">Libra</header>Discover the vibrant energy of New York City at Libra, a
            luxury hotel located in the heart of Times Square, surrounded by musical shows and iconic tourist
            attractions. Indulge in gourmet dining, spa treatments, and elegant accommodations with incredible views of
            the city skyline. Whether you're here for the sights or the sounds, Libra promises an unforgettable stay in
            the bustling heart of New York City. Book now and immerse yourself in the magic of Times Square!</p>
        </ul>
    </ul>
    <%- include('../partials/footer') %>