<%- include('../partials/header') %>


<form id="add-reservation-form" action="/hotels" method="POST">
    <label class="selecT">Select a Hotel:</label>
    <select class="select" name="hotel" id="options">
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Libra">Libra</option>
    </select>

    <section id="badge-container"></section>
      <label class="selecT">room</label>
      <select class="select" name="room" id="options">
          <option value="Jupiter">Jupiter</option>
          <option value="Sun">Sun</option>
          <option value="Moon">Moon</option>
          <option value="Mars">Mars</option>
      </select>
      <label class="selecT">view</label>
      <select class="select" name="view" id="options">
          <option value="Water">Water</option>
          <option value="Garden">Garden</option>
          <option value="Rise">Rise</option>
          <option value="Standard">Standard</option>
      </select>
      <label>Hsk:</label>
      <input class="choose" type="checkbox" name="hsk" id="hsk">
      <label>Accesible Room:</label>
      <input class="choose" type="checkbox" name="accesibleroom" id="accesibleroom">

      <button class="regi" type="submit" >Register</button>
    </form>
    

<%- include('../partials/footer') %>