<%- include('../partials/header') %>

    <nav class="room">

        <div class="dropdown">
            <button class="dropbtn">Jupiter
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Room information</a>
                <img src="https://www.keioplaza.com/rooms/images/universal_il03.gif" id="jupiterimg">
                <a href="#">
                    <li>Two king beds</li>
                    <li>Two floors</li>
                    <li>Alarm Clock with Radio</li>
                    <li>Bath Products</li>
                    <li>Bed rails</li>
                    <li>Beverage Cooler</li>
                    <li>Charcoal Grill</li>
                    <li>Coffe Maker</li>
                    <li>Complementary Wifi</li>
                    <li>Elevators</li>
                    <li>Hair Dryer</li>
                    <li>High Chair</li>
                    <li>Ice Bucket</li>
                    <li>In-Room Safe</li>
                    <li>Microwave</li>
                    <li>Pack 'n Play Crib</li>
                    <li>Pool Towels</li>
                    <li>Telephone with Voicemail</li>
                    <li>Universal Wireless charger</li>
                    <li>Buttler service</li>
                    <li>Room service</li>
                </a>
            </div>
        </div>
    </nav>

    <nav class="room">
        <div class="dropdown">
            <button class="dropbtn">Sun
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Room information</a>
                <img src="https://www.keioplaza.com/rooms/images/universal_il03.gif" id="sunimg">
                <a href="#">
                    <li>Two queen beds</li>
                    <li>Two floors</li>
                    <li>Alarm Clock with Radio</li>
                    <li>Bath Products</li>
                    <li>Bed rails</li>
                    <li>Beverage Cooler</li>
                    <li>Charcoal Grill</li>
                    <li>Coffe Maker</li>
                    <li>Complementary Wifi</li>
                    <li>Elevators</li>
                    <li>Hair Dryer</li>
                    <li>High Chair</li>
                    <li>Ice Bucket</li>
                    <li>In-Room Safe</li>
                    <li>Microwave</li>
                    <li>Pack 'n Play Crib</li>
                    <li>Pool Towels</li>
                    <li>Telephone with Voicemail</li>
                    <li>Universal Wireless charger</li>
                    <li>Room service</li>
                </a>
            </div>
        </div>
    </nav>

    <nav class="room">

        <div class="dropdown">
            <button class="dropbtn">Moon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Room information</a>
                <img src="https://www.keioplaza.com/rooms/images/universal_il01.gif" id="moonimg">
                <a href="#">
                    <li>Two queen beds</li>
                    <li>Alarm Clock with Radio</li>
                    <li>Bath Products</li>
                    <li>Bed rails</li>
                    <li>Beverage Cooler</li>
                    <li>Charcoal Grill</li>
                    <li>Coffe Maker</li>
                    <li>Complementary Wifi</li>
                    <li>Elevators</li>
                    <li>Hair Dryer</li>
                    <li>High Chair</li>
                    <li>Ice Bucket</li>
                    <li>In-Room Safe</li>
                    <li>Microwave</li>
                    <li>Pack 'n Play Crib</li>
                    <li>Pool Towels</li>
                    <li>Telephone with Voicemail</li>
                </a>
            </div>
        </div>
    </nav>

    <nav class="room">

        <div class="dropdown">
            <button class="dropbtn">Mars
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Room information</a>
                <img src="https://www.discoverasr.com/content/dam/tal/media/images/properties/thailand/bangkok/sq-boutique-hotel/floor-plan/SQ-Boutique-Hotel-Rm-Layout-SQ-Room.jpg.transform/ascott-lowres/image.jpg"
                    id="marsimg">
                <a href="#">
                    <li>One queen bed</li>
                    <li>Alarm Clock with Radio</li>
                    <li>Bath Products</li>
                    <li>Bed rails</li>
                    <li>Beverage Cooler</li>
                    <li>Charcoal Grill</li>
                    <li>Coffe Maker</li>
                    <li>Complementary Wifi</li>
                    <li>Elevators</li>
                    <li>Hair Dryer</li>
                    <li>High Chair</li>
                    <li>Ice Bucket</li>
                    <li>In-Room Safe</li>
                    <li>Microwave</li>
                    <li>Pack 'n Play Crib</li>
                    <li>Pool Towels</li>
                    <li>Telephone with Voicemail</li>
                </a>
            </div>
        </div>
    </nav>

    <nav class="room">
        <div class="dropdown">
            <button class="dropbtn">Accebible Rooms
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Room information</a>
                <img src="https://i.pinimg.com/736x/93/81/a3/9381a37222de356e352b6a8b7fb583fa.jpg" id="Accimg">
                <a href="#">
                    <li>One king bed</li>
                    <li>Alarm Clock with Radio</li>
                    <li>Bath Products</li>
                    <li>Bed rails</li>
                    <li>Beverage Cooler</li>
                    <li>Charcoal Grill</li>
                    <li>Coffe Maker</li>
                    <li>Complementary Wifi</li>
                    <li>Elevators</li>
                    <li>Hair Dryer</li>
                    <li>High Chair</li>
                    <li>Ice Bucket</li>
                    <li>In-Room Safe</li>
                    <li>Microwave</li>
                    <li>Pack 'n Play Crib</li>
                    <li>Pool Towels</li>
                    <li>Telephone with Voicemail</li>
                    <li>Universal Wireless charger</li>
                    <li>Roll-in shower</li>
                </a>
            </div>
        </div>
    </nav>


    <%- include('../partials/footer') %>